
<nav class="navbar navbar-expand-lg" [ngClass]="{'new-bg': !showTransitionComponent}">
    <div class="container-fluid">
        <div class="nav-left">
            <img class="logo" (click)="directTo('')" [src]="img" alt="img1">
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="nav-center d-flex justify-content-center flex-grow-1">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a (click)="directTo('about')" class="nav-link">My Bio</a>
              </li>
              <li class="nav-item">
                <a (click)="directTo('programs')" class="nav-link">Programs</a>
              </li>
              <li class="nav-item">
                <a (click)="directTo('nutrition')" class="nav-link">Nutrition</a>
              </li>
              <li class="nav-item">
                <a (click)="directTo('contacts')" class="nav-link">Contacts</a>
              </li>
            </ul>
          </div>

            <div class="nav-right nav-icons d-flex justify-content-center">
              <i class="bi bi-facebook"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-youtube"></i>
            </div>

      </div>
    </div>
  </nav>
