<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="my-bio">
                <p>
                    <span style="color:blueviolet; font-weight: bold;">Hello, I'm Andrew, a {{myAge}}-year-old
                        enthusiast passionate about fitness and leading a
                        healthy
                        lifestyle. My
                        journey into the world of fitness began several years ago when I realized the transformative
                        power
                        of
                        exercise and proper nutrition.</span><br><br>
                    My mission with this website is to provide a valuable resource for individuals of all ages,
                    particularly
                    those in their early twenties, who are looking to embark on their own fitness journeys. I believe
                    that
                    everyone has the potential to achieve their health and fitness goals, regardless of their current
                    level
                    of fitness or experience.<br><br>
                    Whether you're a beginner just starting out on your fitness journey or someone who's been dedicated
                    to
                    fitness for years, I invite you to explore this website and join me in the pursuit of a stronger,
                    more
                    vibrant, and fulfilling life through fitness. Together, we can inspire and support one another on
                    our
                    quest for better health and well-being.
                </p>
                <p>Thank you for visiting, and I look forward to being a part of
                    your fitness journey.
                </p>


            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="my-img" [src]='imgSrc' alt="fitnessImg">
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-item-1">
        <div class="blog">
            <i class="bi bi-battery-full"></i>
            <h3 class="mt-4 fw-bold fst-italic">01. FITNESS BLOG</h3>
            <p>Striving to promote a healthy lifestyle, I started to write posts with healthy recipes, nutritional
                advice, and workouts that work.</p>
        </div>
    </div>
    <div class="grid-item-2">
        <div class="blog">
            <i class="bi bi-tv-fill"></i>
            <h3 class="mt-4 fw-bold fst-italic">02. "KEEP FIT WITH ANDRII"</h3>
            <p>Striving to promote a healthy lifestyle, I started to write posts with healthy recipes, nutritional
                advice, and workouts that work.</p>
        </div>
    </div>
    <div class="grid-item-3">
        <div class="blog">
            <i class="bi bi-trophy-fill"></i>
            <h3 class="mt-4 fw-bold fst-italic">03. CERTIFICATED TRAINER</h3>
            <p>Striving to promote a healthy lifestyle, I started to write posts with healthy recipes, nutritional
                advice, and workouts that work.</p>
        </div>
    </div>
    <div class="grid-item-4">
        <div class="blog">
            <i class="bi bi-quote"></i>
            <h1 class="mt-4 fw-bold fst-italic">BALANCE IS THE <span style="color:aqua;">KEY</span></h1>
            <p>"In my opinion, every aspect of your existence must be in equilibrium. You can attain remarkable
                results<br>
                by engaging in rigorous daily exercise and consuming nutritious foods. However, this does not imply
                an<br>
                extreme diet. "Remember to enjoy yourself, travel, dine, and drink, and to have fun with life!"
            </p>
            <span class="fw-bold fs-5">Andrii Horobets</span>
        </div>
    </div>
</div>
<div class="row fitness-row d-flex align-items-center">
    <div class="col-12 col-md-6">
        <img class="fitness-img" [src]="imgFitnessSrc" alt="">
    </div>
    <div class="col-12 col-md-6 my-journey">
        <div>
            <p style="color: rgb(199, 74, 199); font-weight: bold;"><span style="color: rgb(0, 210, 210);">/
                </span>JOURNEY<span style="color: rgb(0, 210, 210);"> /</span></p>
            <h1>HOW I BEGAN<br> MY FITNESS JOURNEY</h1>
            <p class="text-primary">I really want to motivate people to get into this lifestyle!</p>
            <p>I've never been a self-confident man due of adolescent bullying over my weight. After years of tension
                and worry, I decided to go to the gym and hire a professional personal fitness trainer to transform my
                life.</p>

            <p> My coach helped me believe in myself and realize my full potential. I worked hard for many hours every
                day to reach my fitness objective. After achieving the desired outcome, I pursued my fitness studies in
                order to assist others in transforming their own bodies.</p>

        </div>
    </div>

</div>
<div class="container my-clients">
    <p class="text-center" style="color: rgb(199, 74, 199); font-weight: bold;"><span style="color: rgb(0, 210, 210);">/
        </span>TESTIMONIALS<span style="color: rgb(0, 210, 210);"> /</span></p>
    <h1 class="text-center journey-heading" id="testimonials">MEMBERS ABOUT ME</h1>
    <p class="text-center fw-bold fs-5" style="color: rgba(114, 27, 195, 0.6);">Read testimonials from my clients below.</p>
    <div class="clients-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="client-cont">
                    <img class="client-img img-fluid" [src]="imgClientOneSrc" alt="client1">
                    <h3 class="text-center mt-3">MIKE, <span style="color: rgb(0, 210, 210);">27 Y.O.</span></h3>
                    <p class="text-center mt-4">"Alone, I've lost over 20 centimeters and 20 kilograms from my torso!"
                        Acquired self-love,
                        self-confidence, and self-acceptance. I am currently able to wear anything and have become more
                        alluring as a result. I am robust and content! Much obliged."</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="client-cont">
                    <img class="client-img img-fluid" [src]="clientImgTwoSrc" alt="client2">
                    <h3 class="text-center mt-3 fw-bold">JOE, <span style="color: rgb(0, 210, 210);">33 Y.O.</span></h3>
                    <p class="text-center mt-4">"I've acquired an additional 25 kilograms of weight throughout my
                        pregnancy.
                        Although I have
                        attempted numerous fitness programs, none of them have been effective. At last, I have spotted
                        Andrii via the internet. He ranks first among personal trainers."</p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="client-cont">
                    <img class="client-img img-fluid client-three" [src]="clientImgThreeSrc" alt="client3">
                    <h3 class="text-center mt-3">ANDY, <span style="color: rgb(0, 210, 210);">22 Y.O.</span></h3>
                    <p class="text-center mt-4">Andrii is wonderful - I can't say enough good things about him. I am so
                        pleased with my personal training with him and with the results that I am achieving."</p>
                </div>
            </div>
        </div>
    </div>
</div>